/*universal selectors*/

* {box-sizing: border-box;
    background-color: darkslategray;
    
    
}

body {
    margin: 0;
}


header {
    padding: 16px;
    color: white;
    display:flex;
    justify-content: space-between;
    font-size: 40px;
 
}



ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 25px;
    
}

li {
    width: 100px;
    text-decoration: none;
}

#about-me {
    display: flex;
    text-align: center;
    align-items: center;

}

#about-me h2{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 60px;
    margin: 0.5rem;
}
#about-me img {
width: 586px;
height: 746px;
padding: 16px;
border-radius: 20px;

}

aside {
    
    width: 5%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px #92b441;
    display: inline-block;
    font-style: italic;
    color: #92b441;
}


p{
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#work-content h2,{
    width: 5%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px #92b441;
    display: inline-block;
    font-style: italic;
    color: #92b441;
}
