/*universal selectors*/

* {box-sizing: border-box;
    background-color: darkslategray;
    
    
}

body {
    margin: 0;
}


header {
    padding: 16px;
    color: white;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
 
}



ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 15px;
    
}

li {
    width: 100px;
    text-decoration: none;
}

#about-me {
    display: flex;
    text-align: center;
    align-items: center;

}

#about-me h2{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 30px;
    margin: 0.5rem;
}
#about-me img {
width: 400px;
height: 400px;
padding: 16px;
border-radius: 20px;

}

aside {
    
    width: 5%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px #92b441;
    display: inline-block;
    font-style: italic;
    color: #92b441;
}


p{
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#work-content h2, #contact-area h2{
    display: block;
    width: 5%;
    padding-left: 10px;
    margin-left: 1.0rem;
    box-shadow: inset 5px 0 5px -5px #92b441;
    
    font-style: italic;
    color: #92b441;
    font-size: 30px;
}

#work-content{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
}

.column{
    padding-left: 30px;
}

#contact-area nav a{
    display: inline;
    padding-left: 40px;
   font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: aliceblue;
    text-decoration: none;
    
}

